body {
    text-align:center;
    background-color: lightgray;
    font-family: Arial, Times New Roman, sans-serif;
    font-size: 0.98em;
    display:block;
}

a {
    list-style: none;
    padding: 5px;
    font: bold 14px "times new roman";
    -webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.5s;
    background-color: lightgray;
    border: solid .5px;
    border-radius: 5px;
    cursor: pointer;
}

a:link {
    color: Black;
    background-color: lightgray;
    text-decoration: none
}

a:hover {
    color: black;
    background-color: darkgray;
    text-decoration: none
}

a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none
}

a:active {
    color: green;
    background-color: transparent;
    text-decoration: none
}

button {
    list-style: none;
    padding: 5px;
    font: bold 14px "times new roman";
    -webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.5s;
    background-color: lightgray;
    border: solid .5px;
    border-radius: 5px;
    cursor: pointer;
}

button:link {
        color: Black;
        background-color: lightgray;
        text-decoration: none
}

button:hover {
        color: black;
        background-color: darkgray;
        text-decoration: none
}

button:visited {
        color: black;
        background-color: transparent;
        text-decoration: none
}

button:active {
        color: black;
        background-color: transparent;
        text-decoration: none
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

/* include generated hidden field here */
input[type="checkbox"]:checked + input[type="hidden"] + .slider,
input[type="checkbox"]:checked + .slider {
    background-color: #2196F3;
}

/* include generated hidden field here */
input[type="checkbox"]:focus + input[type="hidden"] + .slider,
input[type="checkbox"]:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

/* include generated hidden field here */
input[type="checkbox"]:checked + input[type="hidden"] + .slider:before,
input[type="checkbox"]:checked + .slider:before {
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#login-div {
    position: absolute;
    left: 40%;
    top: 40%;
    padding: 10px 10px;
    text-align:center;
}

table {
    width: auto;
    border-collapse: collapse;
}

th, td {
    min-width:110px;
    max-width:500px;
    padding:5px;
    border: 1px solid black;
    border-collapse: collapse;
}
ul {
    list-style-type: none;
}
li {
    padding: 30px;
    margin: 30px;
}
.nav {
    display: inline;
    padding: 5px;
    margin: 0px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.floating-box {
    text-align:center;
    float: left;
    margin:50px;
}

div{
    display:block;
}
