@model Timesheet.Models.TimeSheet
@using Timesheet.Models
@{
    Layout = null;
}
<!--This html file isn't used in the solution yet-->
@{
    ViewBag.Title = "Approved Timesheets";
    <div>
        <center>
            <img src="~/Content/ChatLogo.jpg" alt="ChatLogo" height="250" width="1520" />
        </center>
    </div>

    Employee emp = (Employee)Session["Employee"];
    List<TimeSheet> tsheets = (List<TimeSheet>)Session["TimeSheetData"];
    List<string> dates = (List<string>)Session["Dates"];
   


}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Content/main.css" type="text/css" />
    <meta name="viewport" content="width=device-width" />
    <title>Timesheet</title>
    <style>


        #login-div {
            position: absolute;
            left: 40%;
            top: 40%;
            padding: 10px 10px;
        }

        .field-validation-error {
            color: red;
        }
    </style>

</head>
<body>


    <h2>Approved Timesheets</h2>
    @{ string today = DateTime.Now.ToLongDateString();
        string time = DateTime.Now.ToLongTimeString();}
    <p id="time">It is @today at @time</p>
    @Html.DropDownList("Employees", "Select Employees")

    </br>
    </br>

    <form action="history.back();">
        <input type="">

    </form>
    <!-- <a href="#" onclick="history.back();">Back</a> -->
</body>
</html>



