@using Timesheet.Models
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HR</title>
    <style>
        body {
            background-color: cadetblue;
            font-family: Arial;
        }

        #login-div {
            position: absolute;
            left: 40%;
            top: 40%;
            padding: 10px 10px;
        }

        .field-validation-error {
            color: red;
        }
    </style>
</head>

<body>
    @{var emp = (Employee)Session["Employee"]; }
    <div>
        <img src="~/Content/ChatLogo.jpg" alt="ChatLogo" height="250" width="1520" />
    </div>
    <div>
        <h1>HR</h1>
        <p>Welcome @emp.FirstName @emp.LastName!</p>
        <ul>
            <li>
                <a href="http://localhost:59443/ApprovedTimesheets/ApprovedTimesheets"> Approved Timesheets</a>
            </li>
            <li>
                <a href="http://localhost:59443/TimesheetReports/TimesheetReports">Timesheet Reports</a>
            </li>
        </ul>

        <a href="@Url.Action("LogOut", "Login")">LogOut</a>
    </div>
</body>
</html>