@{
    Layout = null;
}


@{
    ViewBag.Title = "TimeSheet Reports";
    <div>
        <img src="~/Content/ChatLogo.jpg" alt="ChatLogo" height="250" width="1520" />
    </div>
}



<h2>Timesheet Reports</h2>
<p><a href="#" onclick="history.back();">Back</a></p>

<!DOCTYPE html>

<html>
<head>
    
    <meta name="viewport" content="width=device-width" />
    
    <style>
        body {
            background-color: cadetblue;
            font-family: Arial;
        }

        #login-div {
            position: absolute;
            left: 40%;
            top: 40%;
            padding: 10px 10px;
        }

        .field-validation-error {
            color: red;
        }
    </style>

</head>

    


<body> 
    <p>Enter Employee's name to view Timesheet</p>
    <form 
    <input type="text" placeholder="Search..." required>
    <input type="button" value="Search">
    <input method="POST" action="another_page.html">

    </form>
         

<p>
    <a href="http://localhost:59443/Reports/Reports"> Employees Timesheets</a>
    </p>

   <p> <a href="http://localhost:59443/ApprovedTimesheets/ApprovedTimesheets">Approved Timesheets</a>
 </p>       
        
</body>
</html>
