@using Timesheet.Models

@{
    Layout = null;
}

<!--This is the employee dashboard screen. It renders after someone with the employee role logs in-->

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Employee</title>
    <style>
        body {
            background-color: cadetblue;
            font-family: Arial;
        }

        #login-div {
            position: absolute;
            left: 40%;
            top: 40%;
            padding: 10px 10px;
        }

        .field-validation-error {
            color: red;
        }
    </style>

</head>

<body>
    <!--Get the employee object out of the session-->
    @{var emp = (Employee)Session["Employee"]; }

    <div>
        <img src="~/Content/ChatLogo.jpg" alt="ChatLogo" height="250" width="1520" />
    </div>
    <div>
        <h1>Employees</h1>
        <!--Display the employee's first and last name-->
        <p>Welcome @emp.FirstName @emp.LastName!  Click below to record your time.</p>
            
            <ul>
                <li>
                    <!--Link to get to the timesheet input screen-->
                    <a href="@Url.Action("GetTimeSheet","Timesheet")">Timesheet</a>
                </li>
            </ul>
        <!--Log out link-->
        <a href="@Url.Action("LogOut", "Login")">LogOut</a>
    </div>
</body>
</html>