@using Timesheet.Models

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Employees</title>
</head>

<body>
    @{var emp = (Employee)Session["Employee"]; }

<div>
    <img src="~/Content/ChatLogo.jpg" alt="ChatLogo"height="250"width="1520" />
</div>
<div>
    <h1>Employees</h1>
    <p>Welcome @emp.FirstName @emp.LastName!</p>
    <ul>
        <li>
            <a href="http://localhost:59443/Timesheet/Timesheet">Timesheet</a>
        </li>
    </ul>

    <a href="@Url.Action("LogOut", "Login")">LogOut</a>
</div>
</body>
</html>
