@model Timesheet.Models.TimeSheet
@using Timesheet.Models
@{
    Layout = null;
}

@{
    ViewBag.Title = "Reports";
    <div>
        <img src="~/Content/ChatLogo.jpg" alt="ChatLogo" height="250" width="1520" />
    </div>

    Employee emp = (Employee)Session["Employee"];
    List<TimeSheet> tsheets = (List<TimeSheet>)Session["TimeSheetData"];
    List<string> dates = (List<string>)Session["Dates"];


} 
    
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Timesheet</title>
    <style>
        body {
            background-color: cadetblue;
            font-family: Arial;
        }

        #login-div {
            position: absolute;
            left: 40%;
            top: 40%;
            padding: 10px 10px;
        }

        .field-validation-error {
            color: red;
        }
    </style>

</head>
<body>

    <h2>Reports</h2>
    @{ string today = DateTime.Now.ToLongDateString();
        string time = DateTime.Now.ToLongTimeString();}
    <p id="time">It is @today at @time</p>
    <a href="#" class="previous">&laquo; Previous</a>
    <a href="#" class="next">Next &raquo;</a>

    <a href="#" class="previous round">&#8249;</a>
    <a href="#" class="next round">&#8250;</a> 
   @Html.DropDownList("Employees", "Select Employees")


    

  
        <p>
        <a href="@Url.Action("Approve", "Deny")">Approve</a>
        <a href="@Url.Action("Approve", "Deny")">Deny</a>
        </p>
        <a href="#" onclick="history.back();">Back</a>
    </body>
</html>
