
@{
    Layout = null;
    if (Session["supId"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<div>
    <h1>Supervisor</h1>
</div>
</body>
</html>
